*{
    box-sizing: border-box;
}
html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(227, 255, 255);
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    flex-direction: column;
}
.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 0 rgb(0,0,0, 7);
    padding: 20px;
    background-color: rgb(208, 221, 245);
}
img{
    width: max-content;
    height: 200px;
    object-fit: cover;
}
button{
    background-color: blue;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5%;
}
.prices{
    display: flex;
    gap: 10px;
}
.sale{
    text-decoration: 2px rgb(124, 43, 43) line-through;
}
.old-price{
    text-decoration: 2px rgb(124, 43, 43) line-through;
}
.card p{
    color: gray;
}

a{
    color: white;
    text-decoration: none;
}